*~
**/obj/**/*
**/bin/**/*
**/*.user
**/*.suo
**/*.bak
**/*.sln.cache
**/_ReSharper*
*/build/**/*
BTDB.sln.ide
**/.vs/**/*
**/.idea/**/*
**/.bbcore/**/*
**/.idea/**/*
/bb/Properties/launchSettings.json
/tools/**/*
/Lib/Bundler/Js/Tests/**/*
/TestProjects/**/*
/Lib.Test/**/*
