*~
obj/
bin/
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
Reports
*/build
TestResults
*.pidb
*.usertasks
*.userprefs
*.origtest-resultsdist
*.ncrunchsolution
*.ncrunchproject
*.crunchsolution.cache
*.DotSettings
/BTDB.sln.ide
.vs/
.idea/
.bbcore/
.idea/
/bb/Properties/launchSettings.json
/tools/bbcorenpm/node_modules
!/tools/bbcorenpm/bin/
/Lib/Bundler/Js/Tests/Outputs/
/TestProjects/**/dist
/TestProjects/IncludeSources/tslint.json
**/node_modules/
/tools/web/dist
/tools/webt/dist
!/TestProjects/Assets/node_modules
.coverage
dist
